
<%- include('./partials/header.ejs') %>

<div class="flex-container">
    <div class="box">
      <h1><%= weekDay %>, <%= month %> <%= day %></h1>
    </div>
    
    <div class="work">
    <% todayWorkList.forEach((todayWork) =>{ %>
      <form>
        <div class="workLi">
          <input type="checkbox" id=<%=todayWork%>>
          <label name="work"><%= todayWork %></label><br>
        </div>
      </form>
    <% }); %>
    </div>
    
    <form action="/submit" method="POST">
        <div class="input">
            <input type="text" name="newWork" placeholder="New Item">
            <input type="submit" value="+" id="button">
        </div>
    </form>
</div>
<%- include('./partials/footer.ejs') %>